.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


*{ 
  background-color: #01161E;

}

.pokemon-card {
  border: double;
  border-radius: 8px;
  border-color: #124559;
  box-shadow: 0 0 15px 2px #48abe0;
}
.pokemon-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(150px, 1fr));
  gap: 32px;
}
.pokemon-title{
  display: flex;
  justify-content: space-evenly;
}
.pokemon-number{
  color: #F7F7FF;
}
.pokemon-name{
  color: #F7F7FF;
}

footer{
  
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #598392;
    color: #F7F7FF;
  
}

.pokemon-types{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.type-img{
  width: 35px;
  height: 35px;

}

